In [1112]:
# In order to manipulate the csv file, first I import pandas.

In [1113]:
import pandas as pd

In [1114]:
# Now I upload the IMDb movie data csv file and save it as a dataframe.

In [1115]:
df = pd.read_csv('movie_metadata.csv')
df2 = pd.read_csv('box_office_mojo_cleaned.csv')

In [1116]:
# In order to get an understanding of what the datafram looks like, I use the function.

In [1117]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [1118]:
# To further explore the data I used the describe function to get a statistical breakdown
# of every column.

In [1119]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [1120]:
# I use the isna() function in order to find all of the NaN values in the dataset.
# By using the sum() function it totals all of the true values to produce the total
# number of NaN values per columns.

In [1121]:
df.isna().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [1122]:
# I then dropped columns that I decided not to include in our data set. I dropped num_critic_for_reviews and
# num_user_for_reviews because I wasn't sure what the data represented and didn't think it was necessarily
# useful. I then dropped the actors' and director's names because I didn't think they would be useful,
# along with their facebook likes. I did keep actor_1 and director facebook likes because I thought it might
# act as a proxy for the popularity of the director and the most popular star in a movie, and I could then look
# to see how those factors impacted movie success. I dropped gross because it was already included in the other
# dataset. I also dropped budget because the data was flawed. Finally, I also dropped plot_keywords,
# facenumber_in_poster, aspect_ratio, and movie_imdb_link because they didn't seem useful.

In [1123]:
df = df.drop(columns=['num_critic_for_reviews', 'movie_imdb_link', 'facenumber_in_poster', 
                      'gross', 'aspect_ratio', 'plot_keywords', 'budget', 'num_user_for_reviews', 
                      'actor_1_name', 'actor_2_name', 'actor_3_name', 'actor_2_facebook_likes', 
                      'actor_3_facebook_likes', 'director_name'])

In [1124]:
# I renamed the columns in order to capitalize them and clean them up a little.

In [1125]:
df = df.rename(columns = {'director_name' : 'Director', 'duration' : 'Runtime', 
                          'director_facebook_likes':'Director Facebook Likes', 
                          'movie_title':'Title', 'color':'Color', 'title_year' : 
                          'Year', 'content_rating':'Content Rating', 'language':'Language', 
                          'country':'Country', 'genres':'Genres', 
                          'num_voted_users':'Number of Voted Users', 
                          'cast_total_facebook_likes':'Cast Total Facebook Likes', 
                          'imdb_score':'IMDb Score', 'movie_facebook_likes':'Movie Facebook Likes', 
                          'actor_1_facebook_likes':'Actor 1 Facebook Likes'})

In [1126]:
# I then started looking into where the null values were so I could start cleaning the data.

In [1127]:
df.isna().sum()

Color                         19
Runtime                       15
Director Facebook Likes      104
Actor 1 Facebook Likes         7
Genres                         0
Title                          0
Number of Voted Users          0
Cast Total Facebook Likes      0
Language                      12
Country                        5
Content Rating               303
Year                         108
IMDb Score                     0
Movie Facebook Likes           0
dtype: int64

In [1128]:
# I replaced all null and Unrated values for the content ratings and replaced them with the Not Rated label
# so that all unrated movies would be lumped together.

In [1129]:
df['Content Rating'] = df['Content Rating'].fillna("Not Rated")

In [1130]:
df['Content Rating'] = df['Content Rating'].map(lambda x: x.replace('Unrated','Not Rated'))

In [1131]:
# I replaced all NaN values in the country category with Unknown.

In [1132]:
df['Country'] = df['Country'].fillna("Unknown")

In [1133]:
# I replaced all NaN values in the language category with Unknown.

In [1134]:
df['Language'] = df['Language'].fillna("Unknown")

In [1135]:
# I replaced all NaN values in the color category with Unkown.

In [1136]:
df['Color'] = df['Color'].fillna("Unknown")

In [1137]:
df.isna().sum()

Color                          0
Runtime                       15
Director Facebook Likes      104
Actor 1 Facebook Likes         7
Genres                         0
Title                          0
Number of Voted Users          0
Cast Total Facebook Likes      0
Language                       0
Country                        0
Content Rating                 0
Year                         108
IMDb Score                     0
Movie Facebook Likes           0
dtype: int64

In [1138]:
# I removed all movies that did not include Runtime. I did this because I didn't want to distort the
# data by replacing the NaN values with mean, median, or mode values.

In [1139]:
df = df[df['Runtime'].isna() == False]

In [1140]:
df['Runtime'].isna().sum()

0

In [1141]:
# I replaced all Actor 1 Facebook Likes that were NaN with 0 values because of the assumption that the actor
# might not be an active facebook user.

In [1142]:
df['Actor 1 Facebook Likes'] = df['Actor 1 Facebook Likes'].fillna(0)

In [1143]:
# I checked to see if the missing director facebook values were randomly spread through all the movies
# in the dataset by finding the mean IMDb score for movies with and without facebook likes. I found
# that movies without director facebook values were rated much higher than average. As a results, I didn't want
# to distort the data with median, mean, or mode values, so I removed the NaN movies.

In [1144]:
df_missing_Director = df[df['Director Facebook Likes'].isna()]

In [1145]:
df_missing_Director['IMDb Score'].mean()

7.546078431372551

In [1146]:
df['IMDb Score'].mean()

6.442740652346857

In [1147]:
df.shape

(5028, 14)

In [1148]:
df = df[df['Director Facebook Likes'].isna() == False]

In [1149]:
#df.info()

In [1150]:
df = df.sort_values(by='Title', ascending=True)

In [1151]:
# I then removed all duplicate movie titles. In order to make sure that I wasn't removing remakes, I removed only
# titles that also shared Release Years.

In [1152]:
df[df.duplicated(subset = ['Title', 'Year'], keep = False)].head()

,Color,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Title,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year,IMDb Score,Movie Facebook Likes
4894,Color,127.0,130.0,618.0,Adventure|Drama|Family|Fantasy|Sci-Fi,"20,000 Leagues Under the Sea",22124,800,English,USA,Approved,1954.0,7.2,0
3711,Color,127.0,130.0,617.0,Adventure|Drama|Family|Fantasy|Sci-Fi,"20,000 Leagues Under the Sea",22123,799,English,USA,Approved,1954.0,7.2,0
4950,Color,88.0,686.0,847.0,Comedy,A Dog's Breakfast,3262,2364,English,Canada,Not Rated,2007.0,7.0,377
4949,Color,88.0,686.0,847.0,Comedy,A Dog's Breakfast,3262,2364,English,Canada,Not Rated,2007.0,7.0,377
1420,Color,101.0,0.0,40000.0,Horror,A Nightmare on Elm Street,149285,42918,English,USA,X,1984.0,7.5,10000

In [1153]:
df = df.drop_duplicates(subset = ['Title', 'Year'], keep = 'first')

In [1154]:
df = df[df['Year'].isna() == False]

In [1155]:
# I then replaced the year values from floats to integers.

In [1156]:
df = df.astype({'Year': 'int32'})

In [1157]:
# I then found the remaining sequel movies. Because my partner decided to differentiate remakes by including the
# release year in the title, I did the same thing.

In [1158]:
df[df.duplicated(subset = ['Title'], keep = False)].head()

,Color,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Title,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year,IMDb Score,Movie Facebook Likes
3840,Color,100.0,0.0,109.0,Crime|Drama,Out of the Blue,2776,122,English,New Zealand,Not Rated,2006,7.3,285
3791,Color,94.0,0.0,311.0,Drama,Out of the Blue,1599,498,English,Canada,R,1980,7.2,274
2988,Color,110.0,584.0,629.0,Comedy|Drama|Horror|Sci-Fi,The Host,68883,1173,Korean,South Korea,R,2006,7.0,7000
1002,Color,125.0,487.0,430.0,Action|Adventure|Romance|Sci-Fi|Thriller,The Host,92461,1300,English,USA,PG-13,2013,5.9,43000

In [1159]:
df.loc[3791, 'Title'] = 'Out of the Blue (1980)'

In [1160]:
df.loc[3840, 'Title'] = 'Out of the Blue (2006)'

In [1161]:
df.loc[2988, 'Title'] = 'The Host (2006)'

In [1162]:
df.loc[1002, 'Title'] = 'The Host (2013)'

In [1163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4801 entries, 4447 to 882
Data columns (total 14 columns):
Color                        4801 non-null object
Runtime                      4801 non-null float64
Director Facebook Likes      4801 non-null float64
Actor 1 Facebook Likes       4801 non-null float64
Genres                       4801 non-null object
Title                        4801 non-null object
Number of Voted Users        4801 non-null int64
Cast Total Facebook Likes    4801 non-null int64
Language                     4801 non-null object
Country                      4801 non-null object
Content Rating               4801 non-null object
Year                         4801 non-null int32
IMDb Score                   4801 non-null float64
Movie Facebook Likes         4801 non-null int64
dtypes: float64(4), int32(1), int64(3), object(6)
memory usage: 703.9+ KB

In [1164]:
df.head()

,Color,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Title,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year,IMDb Score,Movie Facebook Likes
4447,Color,101.0,37.0,501.0,Drama|Horror|Mystery|Thriller,#Horror,1547,1044,English,USA,Not Rated,2015,3.3,750
3698,Color,104.0,16.0,14000.0,Drama|Horror|Mystery|Sci-Fi|Thriller,10 Cloverfield Lane,126893,14504,English,USA,PG-13,2016,7.3,33000
3015,Color,111.0,0.0,1000.0,Drama,10 Days in a Madhouse,314,2059,English,USA,R,2015,7.5,26000
2845,Color,97.0,19.0,23000.0,Comedy|Drama|Romance,10 Things I Hate About You,222099,37907,English,USA,PG-13,1999,7.2,10000
406,Color,100.0,36.0,2000.0,Adventure|Comedy|Family,102 Dalmatians,26413,4182,English,USA,G,2000,4.8,372

In [1165]:
# I then converted my cleaned data to a csv file.

In [1167]:
df.to_csv('imdb_cleaned_data.csv')