In [822]:
import pandas as pd

In [733]:
df = pd.read_csv('movie_metadata.csv')

In [734]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [735]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [736]:
df.isna().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [737]:
df = df.rename(columns = {'director_name' : 'Director'})

In [738]:
df = df.rename(columns = {'duration' : 'Runtime'})

In [739]:
df = df.rename(columns = {'director_facebook_likes':'Director Facebook Likes'})

In [740]:
df.head()

,color,Director,num_critic_for_reviews,Runtime,Director Facebook Likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [741]:
df = df.rename(columns = {'num_critic_for_reviews':'Num of Critic Reviews'})

In [742]:
df['color'].value_counts(normalize = True)

Color               0.9584
 Black and White    0.0416
Name: color, dtype: float64

In [743]:
# df[df['movie_title'].duplicated(keep = False)]

In [744]:
df = df.drop(columns=['movie_imdb_link'])

In [745]:
df.shape

(5043, 27)

In [746]:
# df.isna().sum()

In [747]:
df = df.drop(columns=['facenumber_in_poster'])

In [748]:
df = df.drop(columns=['gross'])

In [749]:
df = df.rename(columns = {'movie_title':'Title'})

In [750]:
print(df['actor_1_facebook_likes'].mean())
print(df['actor_2_facebook_likes'].mean())
print(df['actor_3_facebook_likes'].mean())

6560.04706115965
1651.7544731610337
645.0097609561753

In [751]:
df = df.rename(columns = {'actor_1_facebook_likes':'Actor 1 Facebook Likes', 'actor_2_facebook_likes':'Actor 2 Facebook Likes', 'actor_3_facebook_likes':'Actor 3 Facebook Likes'})

In [752]:
df = df.rename(columns = {'actor_1_name':'Actor 1 Name', 'actor_2_name':'Actor 2 Name', 'actor_3_name':'Actor 3 Name'})

In [753]:
df = df.rename(columns = {'color':'Color'})

In [754]:
df = df.rename(columns = {'genres':'Genres', 'num_voted_users':'Number of Voted Users', 'cast_total_facebook_likes':'Cast Total Facebook Likes', 'country':'Country', 'language':'Language', 'content_rating':'Content Rating'})

In [755]:
df = df.rename(columns = {'title_year' : 'Year'})

In [756]:
df = df.rename(columns = {'budget':'Budget', 'imdb_score':'IMDb Score', 'aspect_ratio': 'Aspect Ratio', 'movie_facebook_likes':'Movie Facebook Likes'})

In [757]:
df = df.rename(columns = {'num_user_for_reviews' : 'Num User for Reviews'})

In [758]:
df = df.rename(columns = {'plot_keywords' : 'Plot Keywords'})

In [759]:
df = df.drop(columns=['Num User for Reviews'])

In [760]:
df = df.drop(columns=['Aspect Ratio'])

In [761]:
df = df.drop(columns=['Plot Keywords'])

In [762]:
df = df.drop(columns=['Budget'])

In [763]:
# df['Content Rating'].value_counts()

In [764]:
df.isna().sum()

Color                         19
Director                     104
Num of Critic Reviews         50
Runtime                       15
Director Facebook Likes      104
Actor 3 Facebook Likes        23
Actor 2 Name                  13
Actor 1 Facebook Likes         7
Genres                         0
Actor 1 Name                   7
Title                          0
Number of Voted Users          0
Cast Total Facebook Likes      0
Actor 3 Name                  23
Language                      12
Country                        5
Content Rating               303
Year                         108
Actor 2 Facebook Likes        13
IMDb Score                     0
Movie Facebook Likes           0
dtype: int64

In [765]:
df['Content Rating'] = df['Content Rating'].fillna("Not Rated")

In [766]:
df['Content Rating'] = df['Content Rating'].map(lambda x: x.replace('Unrated','Not Rated'))

In [767]:
df = df.drop(columns=['Actor 1 Name', 'Actor 2 Name', 'Actor 3 Name', 'Actor 2 Facebook Likes', 'Actor 3 Facebook Likes', 'Director'])

In [768]:
# df = df.drop(columns=['Release Year'])

In [769]:
df['Country'] = df['Country'].fillna("Unknown")

In [770]:
df['Language'] = df['Language'].fillna("Unknown")

In [771]:
df['Color'] = df['Color'].fillna("Unknown")

In [772]:
df.isna().sum()

Color                          0
Num of Critic Reviews         50
Runtime                       15
Director Facebook Likes      104
Actor 1 Facebook Likes         7
Genres                         0
Title                          0
Number of Voted Users          0
Cast Total Facebook Likes      0
Language                       0
Country                        0
Content Rating                 0
Year                         108
IMDb Score                     0
Movie Facebook Likes           0
dtype: int64

In [773]:
df = df[df['Runtime'].isna() == False]

In [774]:
df['Runtime'].isna().sum()

0

In [775]:
df['Actor 1 Facebook Likes'] = df['Actor 1 Facebook Likes'].fillna(0)

In [776]:
df = df.drop(columns=['Num of Critic Reviews'])

In [777]:
df_missing_Director = df[df['Director Facebook Likes'].isna()]

In [778]:
df_missing_Director['IMDb Score'].mean()

7.546078431372551

In [779]:
df['IMDb Score'].mean()

6.442740652346857

In [780]:
df.shape

(5028, 14)

In [781]:
df = df[df['Director Facebook Likes'].isna() == False]

In [782]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4926 entries, 0 to 5042
Data columns (total 14 columns):
Color                        4926 non-null object
Runtime                      4926 non-null float64
Director Facebook Likes      4926 non-null float64
Actor 1 Facebook Likes       4926 non-null float64
Genres                       4926 non-null object
Title                        4926 non-null object
Number of Voted Users        4926 non-null int64
Cast Total Facebook Likes    4926 non-null int64
Language                     4926 non-null object
Country                      4926 non-null object
Content Rating               4926 non-null object
Year                         4923 non-null float64
IMDb Score                   4926 non-null float64
Movie Facebook Likes         4926 non-null int64
dtypes: float64(5), int64(3), object(6)
memory usage: 577.3+ KB

In [783]:
df = df.sort_values(by='Title', ascending=True)

In [ ]:
df = df[df['Director Facebook Likes'].isna() == False]

In [816]:
df[df.duplicated(subset = ['Title', 'Year'], keep = False)].head()

Empty DataFrame
Columns: [Color, Runtime, Director Facebook Likes, Actor 1 Facebook Likes, Genres, Title, Number of Voted Users, Cast Total Facebook Likes, Language, Country, Content Rating, Year, IMDb Score, Movie Facebook Likes]
Index: []

In [815]:
df = df.drop_duplicates(subset = ['Title', 'Year'], keep = 'first')

In [829]:
df = df[df['Year'].isna() == False]

In [832]:
df = df.astype({'Year': 'int32'})

In [831]:
df.head()

,Color,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Title,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year,IMDb Score,Movie Facebook Likes
4447,Color,101.0,37.0,501.0,Drama|Horror|Mystery|Thriller,#Horror,1547,1044,English,USA,Not Rated,2015.0,3.3,750
3698,Color,104.0,16.0,14000.0,Drama|Horror|Mystery|Sci-Fi|Thriller,10 Cloverfield Lane,126893,14504,English,USA,PG-13,2016.0,7.3,33000
3015,Color,111.0,0.0,1000.0,Drama,10 Days in a Madhouse,314,2059,English,USA,R,2015.0,7.5,26000
2845,Color,97.0,19.0,23000.0,Comedy|Drama|Romance,10 Things I Hate About You,222099,37907,English,USA,PG-13,1999.0,7.2,10000
406,Color,100.0,36.0,2000.0,Adventure|Comedy|Family,102 Dalmatians,26413,4182,English,USA,G,2000.0,4.8,372

In [869]:
df[df.duplicated(subset = ['Title'], keep = False)].head()

Empty DataFrame
Columns: [Color, Runtime, Director Facebook Likes, Actor 1 Facebook Likes, Genres, Title, Number of Voted Users, Cast Total Facebook Likes, Language, Country, Content Rating, Year, IMDb Score, Movie Facebook Likes]
Index: []

In [852]:
df.loc[3791, 'Title'] = 'Out of the Blue (1980)'

In [857]:
df.loc[3840, 'Title'] = 'Out of the Blue (2006)'

In [864]:
df.loc[2988, 'Title'] = 'The Host (2006)'

In [867]:
df.loc[1002, 'Title'] = 'The Host (2013)'

In [870]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4801 entries, 4447 to 882
Data columns (total 14 columns):
Color                        4801 non-null object
Runtime                      4801 non-null float64
Director Facebook Likes      4801 non-null float64
Actor 1 Facebook Likes       4801 non-null float64
Genres                       4801 non-null object
Title                        4801 non-null object
Number of Voted Users        4801 non-null int64
Cast Total Facebook Likes    4801 non-null int64
Language                     4801 non-null object
Country                      4801 non-null object
Content Rating               4801 non-null object
Year                         4801 non-null int32
IMDb Score                   4801 non-null float64
Movie Facebook Likes         4801 non-null int64
dtypes: float64(4), int32(1), int64(3), object(6)
memory usage: 703.9+ KB

In [871]:
df.head()

,Color,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Title,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year,IMDb Score,Movie Facebook Likes
4447,Color,101.0,37.0,501.0,Drama|Horror|Mystery|Thriller,#Horror,1547,1044,English,USA,Not Rated,2015,3.3,750
3698,Color,104.0,16.0,14000.0,Drama|Horror|Mystery|Sci-Fi|Thriller,10 Cloverfield Lane,126893,14504,English,USA,PG-13,2016,7.3,33000
3015,Color,111.0,0.0,1000.0,Drama,10 Days in a Madhouse,314,2059,English,USA,R,2015,7.5,26000
2845,Color,97.0,19.0,23000.0,Comedy|Drama|Romance,10 Things I Hate About You,222099,37907,English,USA,PG-13,1999,7.2,10000
406,Color,100.0,36.0,2000.0,Adventure|Comedy|Family,102 Dalmatians,26413,4182,English,USA,G,2000,4.8,372